.container {
  background: var(--card-background-color);
  padding: 25px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 300px;
  position: relative;
  bottom: 0;
  gap: 30px;
  transition: all 0.2s ease-in-out;
}

.container:hover {
  bottom: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header > h4 {
  font-size: 14px;
  font-weight: 500;
  word-break: break-all;
  width: 80%;
}

.title {
  font-size: 24px;
  font-weight: 500;
}

.description {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-gray-color);
}
