.thead {
  width: 100%;
}

.thead > tr {
  display: flex;
  align-items: center;
}

.thead > tr > th {
  width: 100%;
  padding: 20px 0;
  color: var(--white-color);
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  text-align: left;
  background: var(--dark-gray-color);
}

.thead > tr > th:first-child {
  border-radius: 10px 0 0 10px;
  padding-left: 20px;
}

.thead > tr > th:last-child {
  border-radius: 0 10px 10px 0;
}