.footer {
  background: var(--text-black-color);
  color: var(--text-white-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer > a {
  color: var(--text-white-color);
  text-decoration: none;
}

.footer > a > img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
