.main {
  margin: 5rem auto;
  max-width: 1210px;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.header > h1 {
  font-size: 36px;
  color: var(--text-white-color);
}

.header > p {
  font-size: 14px;
  color: var(--text-gray-color);
}

.timeHeader {
  color: var(--text-white-color);
  display: flex;
  gap: 30px;
  margin: 3rem 0 1.5rem 0;
  align-items: center;
  justify-content: center;
}

.timeHeader > hr {
  width: 100%;
  border: 1px solid var(--text-gray-color);
}

.timeHeader > .text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 300px;
}

.timeHeader > .text > h1 {
  font-size: 36px;
  font-weight: 900;
}

.timeHeader > .text > p {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-gray-color);
}

.cardsContainer {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.filtersWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.message {
  color: var(--text-white-color);
  position: relative;
  margin-top: 5rem;
  text-align: center;
  user-select: none;
  animation: appear 0.5s ease;
}

@keyframes appear {
  from {
    opacity: 0;
    bottom: -10px;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}