:root {
  --background-color: #232429;
  --card-background-color: #ffffff;
  --text-white-color: #ffffff;
  --text-black-color: #000000;
  --text-gray-color: #666666;
  --text-light-gray-color: #dedede;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}
